<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
const icp = theme.footer.icp;
const server = theme.footer.server;

function layoutDiv() {
  var wrapper = '';
  wrapper += '<footer class="page-footer fs12"><hr><div>';
  if (theme.footer.license) {
    wrapper += markdown(__('footer.license', theme.footer.license));
  }
  if (theme.footer.using) {
    if (source) {
      wrapper += markdown(__('footer.info_open_source', author, using, source));
    } else {
      wrapper += markdown(__('footer.info_not_open_source', author, using));
    }
  }
  if (icp) {
    wrapper += markdown(__('footer.server_icp', server, icp));
  } else {
    wrapper += markdown(__('footer.server_not_icp', server));
  }

  if (theme.footer.up_time) {
    wrapper += '<div><span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>';
    if (theme.footer.busuanzi.enable) {
      wrapper += '，<span id="busuanzi_container_site_pv">总访问量: <span id="busuanzi_value_site_pv"></span>次</span>';
      wrapper += '，<span id="busuanzi_container_site_uv">访客数: <span id="busuanzi_value_site_uv"></span>人</span>';
    }
    wrapper += '</div>'
  }
  if (theme.footer.travelling) {
    wrapper += markdown(theme.footer.travelling);
  }

  wrapper += '</div></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
  function createtime() {
    var now = new Date();
    var grt= new Date("05/26/2019 04:40:00");
    now.setTime(now.getTime()+250);
    days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
    hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
    if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
    mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}
    seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
    snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}
    document.getElementById("timeDate").innerHTML = "本站已运行 "+dnum+" 天 ";
    document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
  };
  setInterval("createtime()",250);
</script>